node_modules
npm-debug.log
.idea/
.tscache/

tmp
demo/dest/

test/fixtures/**/coffee_*.js
test/fixtures/**/coffee_*.map
test/fixtures/**/typescript_*.js
test/fixtures/**/typescript_*.map
demo/src/**/coffee_*.js
demo/src/**/coffee_*.map
demo/src/**/typescript_*.js
demo/src/**/typescript_*.map
